<div *ngIf="whisky">

        <h2>{{whisky.name | uppercase}} Details</h2>
        <div><span>id: </span>{{whisky.id}}</div>
        <div><span>name:</span>{{whisky.name}}
        <div><span>type: </span>{{whisky.type}}</div>
        <div><span>content: </span>{{whisky.content}}</div>
        <div><span>age: </span>{{whisky.age}}</div>
        <div><span>prize: </span>{{whisky.prize}}</div>
        <div><span>rating: </span>{{whisky.rating}}</div>
        <div><span>brewery: </span>{{whisky.brewery_id}}</div>
      
      </div>