<div *ngIf="brewery">
  <h2>{{brewery.breweryName | uppercase}} Details</h2>
  <div><span>breweryid: </span>{{brewery.id}}</div>
</div>

<div *ngIf="adres">
  <div><span>id: </span>{{adres.id}}</div>
  <div><span>street+no.: </span>{{adres.street}} {{adres.number}}</div>
  <div><span>postalcode: </span>{{adres.postalcode}}</div>
  <div><span>country: </span>{{adres.country}}</div>
  <div><span>startdate: </span>{{adres.startdate}}</div>
  <div><span>enddate: </span>{{adres.stopdate}}</div>
</div>


<button (click)="goBack()">go back</button>