<p>                            </p>

<div>
        <label>Whisky: </label>
        <input type="text" [(ngModel)]="whisky.whiskyname" /> 
         This is a required field
        </div>
        
        <div>
            <label>Type: </label>
                <select [(ngModel)]="whisky.type">
        <option>Blend</option>
        <option>Single Malt</option>
        <option>Bourbon</option>
        </select></div>
        
        <div>
        <label>Content of bottle: </label>
        <select [(ngModel)]="whisky.content">
        <option>20cl</option>
        <option>35cl</option>
        <option>70cl</option>
        <option>1L</option>
        </select>        
        </div>
        
        <div>
        <label>Age: </label>
        <input [(ngModel)]="whisky.age" />        
        </div>
        
        <div>
        <label>Prize: </label>
        <input [(ngModel)]="whisky.prize" />        
        </div>
        
        <div>
        <label>Rating: </label>
        <input [(ngModel)]="whisky.rating" />
        
        </div>
        
        <div>
        <label>Brewery: </label>
            <select [(ngModel)]="brewery.id">
            <option *ngFor="let brewery of breweries" >{{brewery.id}}</option>
            </select>
        </div>
        
       <div>  
        <button type="submit" (click)=add()>Submit</button>
        </div>